/* RESPONSIVE HEADER */
.header-responsive {
    display: none !important;
    font-size: large;
    font-weight: 100;
    margin-top: 11px;
    margin-bottom: 15px;
}

.responsive-menu-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100% !important;
    background: #1d5234ab;
    z-index: 3;
}
.responsive-menu-bg .close-btn {
    font-size: xx-large;
    color: #fff;
    float: right;
    margin-right: 15px;
    font-weight: 100;
    z-index: 4;
    cursor: pointer;
}
.responsive-menu {
    z-index: 99999;
    position: relative;
    /* background-color: #000000; */
}
.responsive-menu .user-info {
    text-align: center;
    margin-top: 5px;
}

.fa-ul {
    margin-left: 0 !important;
    text-align: center;
}
.hamburger-icon {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-top: 3px;
    cursor: pointer;
    background: white;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 200px) and (max-width: 1200px) {
    /* Styles */
    .header {
        display: none !important;
    }
    .header-responsive {
        display: block !important;
    }

    .lg-menu {
        display: none !important;
    }
}
@media only screen and (min-width: 200px) and (max-width: 1200px) {
    /* Styles */
    .col-md-10 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-md-3 {
        flex: 0 0 80%;
        max-width: 80%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #export-wrapper {
        width: auto;
        margin-top: 10%;
        position: relative;
        padding-top: 40px;
        overflow: auto !important;
        z-index: 999999;
        background: #fff;
    }

    .subscription-wrapper {
        top: 0 !important;
    }

    .terms ul li a {
        font-size: 12px;
    }

    #MobileDevice {
        transform: translateY(4vh) !important;
        width: 91vw;
        height: 65vh;
    }

    .subscription-form {
        transform: translateY(2vh) !important;
    }

    .settings-content {
        top: 4vh !important;
    }
    #RowDevice {
        overflow: auto;
        max-height: inherit !important;
    }
    .section {
        top: 0vh !important;
    }
    .pricing {
        padding-top: 0vh !important;
        padding-bottom: 0vh !important;
    }
}

.mb-5,
.my-5 {
    margin-bottom: 5rem !important;
    margin-top: -1rem !important;
}

.section {
    display: flex;
    flex-direction: column;
    position: inherit;
    top: 9vh;
}
