.print_card_modal_close {
    cursor: pointer;
}

.print_card_header {
    height: 4rem;
    position: relative;
    color: #fff;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 0px 3rem;
    z-index: 999;
    transition: all 0.3s ease-in;
}

.print_card_header > div:first-child {
    width: 24rem;
    /* border: 1px solid red; */
}

.print_card_header > div:nth-child(2) {
    width: 5rem;
}

.print_card_header > div:nth-child(3) {
    width: 10rem;
}

.print_card_header > div:nth-child(3) svg {
    stroke: #ffffff;
    cursor: pointer;
}

.page_input_wrapper {
    width: 2rem;
}

.page_input,
.page_input:focus {
    height: 1.7rem;
    width: 2rem;
    position: static;
    font-size: 0.9rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 0;
    border: none;
}

.print_card_header > div {
    width: 8rem;
}

.print_card_modal_wrapper {
    transition: 1s all ease;
}

.print_card_modal {
    height: auto;
    position: fixed;
    top: auto;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
}

.simple_print_card_modal {
    height: auto;
    position: fixed;
    top: 10rem;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
}

.simple_print_card_modal img {
    width: 100%;
    height: auto;
}

.print_card_modal > object {
    width: 100%;
}

.card_holder {
    width: 100%;
    padding: 1.5rem;
}

.simple_card_holder {
    width: 100%;
    height: 100%;
}

.simple_card_holder::after {
    content: '';
    background-image: url(../../assets//images/coatOfArms.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.07;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.simple_card_holder_bottom {
    height: calc(100% - 20%);
}

.simple_card_holder_left {
    width: 100%;
    height: 94%;
    padding-bottom: 2rem;
}

.simple_card_image img {
    width: 100%;
    height: 90%;
}

.card_holder_header {
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
}

.simple_card_holder_header {
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
}

.simple_card {
    height: 100%;
}

.simple_card div {
    height: inherit;
}

.card_logo {
    width: 78%;
}

.simple_card_logo {
    width: 70%;
}

.simple_card_detail h5 {
    font-weight: 700;
}

.simple_card_detail p {
    font-weight: 500;
}

.simple_card_detail p {
    font-size: 1rem;
    text-transform: uppercase;
}

.simple_card_detail h5 {
    font-size: 1rem;
    margin-bottom: 0.1rem;
}

.card_holder_bottom {
    margin-top: 0.5rem;
}

.card_holder_left {
    width: 30%;
    border: 3px solid #b9b9b945;
    padding-bottom: 2rem;
}

.card_holder_left::after {
    content: '';
    background-image: url(../../assets//images/coatOfArms.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.07;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.card_holder_left_header {
    width: 14%;
}

.simple_card_holder_left_header {
    width: 14%;
}

.card_holder_left_card_image {
    width: 18%;
    /* height: 4rem; */
    margin: auto 0px auto 0.5rem;
}

.simple_card_holder_left_card_image {
    width: 28%;
}

.simple_card_holder_left_card_image img {
    width: 100%;
    height: inherit;
}

.card_holder_left_card_image img {
    width: 100%;
    height: inherit;
}

.card_holder_left_card_details {
    width: 100%;
    padding: 0px 0.5rem 0px 0.25rem;
}

.card_holder_left_card_details h5 {
    font-size: 0.4rem;
    margin-bottom: 0.2rem;
}

.card_holder_left_card_details p {
    font-size: 49.5%;
    font-weight: 700;
    margin-bottom: 0.4rem;
    text-transform: uppercase;
}

.card_holder_left_card_qr {
    width: max-content;
    height: inherit;
    margin-top: 0.5rem;
    padding: 0;
}

.card_holder_left_card_qr > svg {
    margin: 0;
    padding: 0;
}

.card_left_verification {
    font-size: 0.5rem;
    font-weight: 700;
}

.simple_card_left_verification {
    font-size: 0.8rem;
    font-weight: 500;
}

.card_holder_middle {
    margin: 2rem 2.5rem 0px 0.5rem;
}

.card_holder_middle_detail {
    margin-top: 0.5rem;
}

.card_holder_middle_detail > h5,
.card_holder_middle_detail > p {
    font-weight: 700;
}
/* card_holder_left_card */

.card_holder_middle_detail > h5 {
    font-size: 0.9rem;
}
.card_holder_middle_detail > p {
    font-size: 0.9rem;
    text-transform: uppercase;
}

.card_holder_right {
    height: 95%;
}

.card_holder table > tbody td {
    font-size: 0.6rem;
    vertical-align: middle;
    text-align: center;
    padding: 4px 0.5rem;
    white-space: nowrap;
}

.card_holder table > thead th {
    font-size: 0.6rem;
    vertical-align: middle;
    text-align: center;
}

.water_mark_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.water_mark {
    transform: rotate(-70deg);
    width: 100%;
    line-height: 2.5;
    color: #2f2f2f;
    margin: 4rem 0px 0px 0px;
    height: inherit;
    opacity: 0.2;
}

.water_mark_wrapper p {
    font-size: 2.5rem;
}

.water_mark_wrapper p:nth-child(1) {
    transform: rotate(34deg);
    position: relative;
    top: -5rem;
    left: -3rem;
    letter-spacing: 0.5rem;
}

.water_mark_wrapper p:nth-child(2) {
    transform: rotate(34deg);
    position: relative;
    top: -0.5rem;
    left: 1rem;
    letter-spacing: 0.5rem;
}

.water_mark_wrapper p:nth-child(3) {
    transform: rotate(34deg);
    position: relative;
    top: 4.5rem;
    left: 6rem;
    letter-spacing: 0.5rem;
}

.card_table {
    margin-top: 1rem;
}

.print_card_zoom {
    position: absolute;
    bottom: 3rem;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border-radius: 4px;
}

.zoom_input_wrapper > .form-group {
    margin: 5px !important;
}

.print_card_zoom > span {
    cursor: pointer;
}

.print_card_zoom svg {
    stroke: #fff;
}

.inactive_zoom > svg {
    stroke: #525a6e;
}

.zoom_input_wrapper {
    height: 3.5rem;
    border-right: 0.6px solid rgba(255, 255, 255, 0.2);
    border-left: 0.6px solid rgba(255, 255, 255, 0.2);
}

.zoom_input,
.zoom_input:focus {
    width: 4rem;
    height: 3rem;
    position: static;
    font-size: 0.9rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    text-align: center;
    border: none;
}
@media only screen and (min-width: 1025px) {
    .print_card_modal {
        width: 70% !important ;
        min-height: 12rem !important;
        margin-bottom: 6rem;
    }
    .card_logo {
        width: 25% !important;
    }
    .card_holder_left_header > img {
        width: 100% !important;
    }

    .card_holder_middle {
        margin: 2rem 0.5rem 0px 0.5rem !important ;
    }
}

@media only screen and (max-width: 1024px) {
    .print_card_modal {
        width: 90% !important ;
        min-height: 12.5rem !important;
    }
    .card_logo {
        width: 25% !important;
    }
    .card_holder_left_header > img {
        width: 100% !important;
    }
    .card_holder_left_card_details h5 {
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
    }
    .card_holder_left_card_details p {
        font-size: 0.95rem;
    }
}

@media only screen and (min-width: 250px) and (max-width: 600px) {
    .print_card_modal {
        width: 95% !important;
        height: 12rem;
        position: fixed;
        top: auto;
        background: #fff;
        box-shadow: 0px 0px 5px rgb(0 0 0 / 5%), 0px 25px 35px rgb(0 0 0 / 3%);
        border-radius: 4px;
    }

    .card_holder {
        padding: 0.4rem;
        height: 12rem !important;
    }

    .card_logo {
        width: 11% !important;
    }

    .card_holder_header p {
        font-size: 0.4rem;
    }

    .card_holder_bottom {
        height: 64% !important;
        margin-top: 0px !important;
    }

    .card_holder_left {
        height: 7rem !important;
    }

    .card_holder_left_card {
        height: 100%;
    }

    .card_holder_left_header {
        width: 17% !important;
    }

    .card_holder_left_header > img {
        width: 100% !important;
    }
    .card_holder_left_card_image {
        /* height: 1.8rem !important; */
        margin: auto 0px auto 0.12rem !important;
    }

    .card_holder_left_card_detail {
        padding: 0;
        margin: 0.15rem 0px 0px 0.15rem !important;
    }

    .card_holder_left_card_details {
        padding: 0px;
    }

    .card_holder_left_card_details h5 {
        font-size: 0.22rem;
        margin-bottom: 0.04rem !important;
        word-break: break-word;
    }

    .card_holder_left_card_details p {
        font-size: 0.2rem !important;
        word-break: break-word;
    }

    .card_left_verification {
        font-size: 0.3rem !important;
    }

    .card_holder_middle {
        margin: 2rem 0.5rem 0px 0rem !important;
    }

    .card_holder_middle_detail > h5 {
        font-size: 0.5rem !important;
    }

    .card_holder_middle_detail > p {
        font-size: 0.6rem !important;
    }

    .card_holder_middle_detail {
        margin-top: 0.15rem !important;
    }

    .card_table {
        margin-top: 0.15rem;
    }

    .card_holder table > thead th {
        font-size: 0.35rem !important;
        padding: 0;
        height: 1rem;
    }

    .card_holder table > tbody td {
        font-size: 0.35rem !important;
        height: 1rem;
    }
}
