
.filter_tab {
    padding: 0.6rem 0.6rem;
    background: #fff;
    box-shadow: 0px 5.82826px 101.995px rgba(0, 0, 0, 0.03),
        0px 0.729789px 92.5711px rgba(0, 0, 0, 0.015);
    border-radius: 4px;
    cursor: pointer;
}

.filter_tab_filter_method > span {
    margin-right: 0.6rem;
    width: 1.55rem;
    padding-left: 0.6rem;
}

.filter_tab_filter_method > p {
    font-size: 0.75rem;
    color: rgba(39, 146, 62, 0.6);
}

.filter_tab_filter_method {
    padding: 0px 1rem 0px 0px;
    border-right: 1px solid #efefef;
    width: 11rem;
}

.filter_tab_search {
    padding: 0px 0px 0px 0.8rem;
    width: 83%;
}

.filter_tab_search > input {
    width: 65%;
    padding-left: 2rem;
    background-image: url(../../assets/svg/search.svg);
    background-size: 1.4rem;
    background-repeat: no-repeat;
    border: none;
    background-position-y: center;
    background-position-x: 0.5rem;
    /* margin-right: 27%; */
}

.filter_tab_search > input::placeholder {
    font-size: 0.9rem;
}

.filter_tab_export_button {
    width: 6rem;
}

.filter_dropdown {
    height: auto;
    width: 12rem;
    background: #fff;
    position: absolute;
    top: 4rem;
    left: 2rem;
    padding: 1.2rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    z-index: 4;
}

.filter_dropdown p {
    font-size: 0.8rem;
    color: #525a6e;
}

.filter_dropdown_input {
    width: 100%;
    height: 1.2rem;
}

.filter_dropdown_input input {
    height: 2rem;
}

.filter_dropdown_buttons {
    display: flex;
    justify-content: space-between;
}

.component_table {
    padding: 0px 1rem 1.5rem;
    background: #fff;
    box-shadow: 0px 5.82826px 101.995px rgba(0, 0, 0, 0.03),
        0px 0.729789px 92.5711px rgba(0, 0, 0, 0.015);
    border-radius: 4px;
    height: calc(51vh - 3.5rem);
    overflow-y: scroll;
}

.component_table table thead {
    height: 4.3rem;
}

.component_table table,
.component_table td,
.component_table th {
    border-collapse: collapse;
}

.component_table > table > thead {
    position: sticky;
    top: 0;
    background: #fff;
    border-bottom: 1px solid #efefef;
}

.component_table > table > thead > tr > th {
    border: none;
    padding: 0.5rem;
    vertical-align: middle;
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
}

.component_table > table > tbody {
    overflow-y: auto;
}

.component_table > table > tbody > tr td {
    white-space: nowrap;
    width: 25%;
    height: 5rem;
    border-top: 0 !important;
    border-bottom: 0.2px solid #a2a7b426;
    vertical-align: middle !important;
    padding: 1.5rem !important;
    padding-left: 8px !important;
    font-size: 0.8rem;
}
.component_table > table > thead > tr td {
    white-space: nowrap;
}

.send_credit_button {
    width: 6rem;
    margin: 0px auto;
}

.component_table > .table-striped tbody tr:nth-of-type(2n) {
    background-color: #fbfbfb;
    height: 6rem;
}

.mobile_sticky_table_side:nth-child(2n) {
    background-color: #fbfbfb !important;
    height: 6rem;
}

.component_table > .table-striped tbody tr:nth-of-type(2n + 1) {
    background-color: #ffffff;
    height: 6rem;
}

.loading_icon > svg {
    animation: rotation 1s infinite linear;
}

.load_more_indicator {
    position: sticky;
    bottom: -62px;
    background: transparent !important;
}

.load_more_button {
    max-width: 130px !important;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media only screen and (min-width: 250px) {
    .page_table {
        padding: 0px 0px;
    }

    .filter_tab_filter_method {
        justify-content: start;
        padding: 0px;
        border-right: 1px solid #efefef;
        width: 3rem;
    }

    .filter_tab_filter_method > span {
        margin-right: 0.6rem;
        width: inherit;
        padding: 0.5rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
            0px 0px 1px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
    }

    .filter_tab_filter_method > p {
        font-size: 0.75rem;
        color: rgba(39, 146, 62, 0.6);
        display: none;
    }
    .filter_tab_search {
        justify-content: space-between;
        width: 100%;
    }

    .search_mobile_icon {
        display: block;
        width: 3rem;
        padding: 0.6rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
            0px 0px 1px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
    }

    .filter_tab_search > input {
        width: calc(100% - 5rem);
        display: block;
        width: 90vw;
        position: absolute;
        z-index: 290;
        left: 4vw;
        right: 4vw;
        top: 4.3rem;
        box-shadow: -3px 2px 9px 12px rgb(0 0 0 / 4%), -11px 6px 4px 1px rgb(0 0 0 / 6%),
            -4px 7px 13px 2px rgb(0 0 0 / 4%);
    }

    .component_table {
        margin-top: 2.5rem;
    }

    .component_table > table > thead {
        position: static;
    }

    .mobile_sticky_table_side {
        position: sticky;
        left: -15px;
        padding: 0px 1rem 0px 0px;
        width: 11rem;
        z-index: 5 !important;
        background-color: #fff;
    }
    
    .mobile_sticky_table_side::before {
        content: '';
        display: block;
        height: 110%;
        width: 97%;
        position: absolute;
        top: 0;
        box-shadow: 10px 2px 13px -13px rgba(0,0,0,0.52);
        -webkit-box-shadow: 10px 2px 13px -13px rgba(0,0,0,0.52);
        -moz-box-shadow: 10px 2px 13px -13px rgba(0,0,0,0.52);
    }

    .filter_dropdown {
        left: 0px;
    }

    .component_table > table > thead > tr > th:not(.mobile_sticky_table_side) {
        text-align: end;
        padding: 1.5rem 8px 1.5rem 2rem !important;
    }

    .component_table > table > tbody > tr td:not(.mobile_sticky_table_side) {
        text-align: end;
        padding: 1.5rem 8px 1.5rem 2rem !important;
        /* padding-right: 8px !important; */
    }
}

@media only screen and (min-width: 767px) {
    .page_table {
        padding: 0px 2rem;
    }
    .filter_tab_filter_method {
        padding: 0px 1rem 0px 0px;
        border-right: 1px solid #efefef;
        width: 11rem;
    }

    .filter_tab_filter_method > span {
        margin-right: 0.6rem;
        width: 1.55rem;
        padding: 0px 0px 0px 0.6px;
        box-shadow: unset;
    }

    .filter_tab_filter_method > p {
        font-size: 0.75rem;
        color: rgba(39, 146, 62, 0.6);
        display: block;
    }
    .filter_tab_search {
        justify-content: center;
    }

    .search_mobile_icon {
        display: none;
    }

    .filter_tab_search > input {
        width: calc(100% - 5rem);
        padding-left: 2rem;
        border: none;
        display: block;
        position: static;
        box-shadow: unset;
    }

    .component_table > table > thead {
        position: sticky;
        top: 0;
    }
    .mobile_sticky_table_side, .mobile_sticky_table_side::before {
        position: static;
        left: 0px;
        padding: unset;
        border-right: none;
        width: 11rem;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    .filter_dropdown {
        left: 2rem;
    }
    .component_table > table > thead > tr > th {
        text-align: center !important;
        cursor: pointer;
    }
    .component_table > table > tbody > tr td {
        text-align: center !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 883px) {
    .filter_tab_search > input {
        width: calc(100% - 5rem);
    }
}

@media only screen and (min-width: 768px) and (max-width: 883px) {
    .filter_tab_search {
        /* padding: 0px 0px 0px 0.8rem; */
        width: calc(99% - 3rem);
    }
}

