.main_content {
  background: transparent;
  margin: auto 0px;
  max-height: calc(100vh - 4.5rem);
  overflow-y: scroll;
  overflow-x: hidden;
}

.main_content::-webkit-scrollbar {
  width: .5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(48, 48, 48);
  outline: .5px solid rgb(48, 48, 48);
}